h1 { 
    color:#FF6600;
    text-align:left;
    font-size:1.8em;
    font-weight:bold
}
h2 { 
    color:#FF6600;
    text-align:left;
    font-size:1.8em;
    font-weight:normal
}
h3 { 
    color:#FF6600;
    text-align:left;
    font-size:1.4em;
    font-weight:normal;
}
h4 { 
    color:#FF6600;
    text-align:left;
    font-size:1.2em;
    font-weight:normal
}
h5 { 
    color:#FF6600;
    text-align:left;
    font-size:1.1em;
    font-weight:normal
}




pre {
    width:100%;
    margin:1em 0; /* Win IE tries to make this bigger otherwise */
    font-size:13px;
}


.screen {
    background: #E0F0E0;
    border: 1px solid gray;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: .5em;
    padding-bottom: .5em;
    white-space: pre;
}

.file
{
background: #FFFFCC; 
border: 1px solid gray; 
padding-right: 2px;
padding-left: 2px;
padding-top: .5em; 
padding-bottom: .5em; 
white-space: pre;  
}

.rootscreen
{
background: #FFDDBB; 
border: 1px solid gray; 
padding-right: 2px;
padding-left: 2px;
padding-top: .5em; 
padding-bottom: .5em; 
white-space: pre;  
}

